{
    "start_time":"2025-03-06 22:42:08 -0500",
    "aide_version":"0.18.8",
    "outline":"AIDE found differences between database and filesystem!!",
    "report_ignore_e2fsattrs":"EINV",
    "number_of_entries":{
       "total":169,
       "added":1,
       "removed":1,
       "changed":1
    },
    "added":{
       "/home/Phu/TestAide/tonight":"f+++++++++++++++++"
    },
    "removed":{
       "/home/Phu/TestAide/test":"f-----------------"
    },
    "changed":{
       "/home/Phu/TestAide":"d =....amc..  .   "
    },
    "details":{
       "/home/Phu/TestAide":{
          "access_time":{
             "old":"2025-03-06 22:40:26 -0500",
             "new":"2025-03-06 22:41:34 -0500"
          },
          "modify_time":{
             "old":"2025-03-06 22:37:22 -0500",
             "new":"2025-03-06 22:41:39 -0500"
          },
          "change_time":{
             "old":"2025-03-06 22:37:22 -0500",
             "new":"2025-03-06 22:41:39 -0500"
          }
       }
    },
    "databases":{
       "/var/lib/aide/aide.db":{
          "md5":"g/WTbnViI7oVDvGUGDmH2g==",
          "sha1":"Y/FdTqKZrsStP4T1t2vnMNK3qXY=",
          "sha256":"LBOVOkEDMA6t9QBG+evYeJUNaO7UgmnP36L62PEGyd8=",
          "sha512":"+MNJ26/rTkFPA8diuCV1EBpTXx9AMs3hEkjsT8s+2uQK0D8DJuX995lrIYJjoBKHjEsdYQ7nMF52t7tOjdrcOA==",
          "rmd160":"ycWE99L7p6D7/wasqwA6tcqQ4uU=",
          "tiger":"kWFn9mbV74aFBObHzBQe1XovPHrzBnNl",
          "crc32":"oeGOCQ==",
          "crc32b":"77TGKQ==",
          "haval":"CP8tpokJWFryX3nclk/ImHo/pzFu2WqcY1mB2ewsetE=",
          "whirlpool":"q6XG867IMIBignm2RO+I1mSHz5yQMTEEh59mQxMe3tAugUkQIv7yN/z6XetLiPVbXau/QcsL5KIUFXzkbCdpWQ==",
          "gost":"f24OdiGN257HgpDwF2GAHauNfY2v3kUBAnkBpgUUNWQ="
       }
    },
    "end_time":"2025-03-06 22:42:09 -0500",
    "run_time_seconds":1
 }