{% block modal %}
<div class="modal fade bd-example-modal-lg show" id="createCronJob" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-modal="true" style="display: none; padding-left: 15px; margin-top: 1%;" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Scan Result</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div clas="modal-body">
                <div class="main-card mb-12 card">
                    <div class="card-body">
                        <h5 class="card-title">Cron Job With Aide GUI</h5>
                        <form class="needs-validation" novalidate="" id="checkForm">
                            <!-- <div class="form-row"> 
                                <input type="checkbox" id="cronJobCheck"  value="true" style="margin-right: 6px; margin-left: 7px">  
                                <label style="margin-top: 8px;"> Set cron job for this scan</label>
                            </div> -->
                            <div id="cronJob" style="display: block;">
                                <div class="form-row">
                                  <div class="col-md-12 mb-3">
                                    <label style="margin-top: 8px; font-weight: bold;">Name (Optional)</label> 
                                    <input type="text" class="form-control" placeholder="">
                                  </div>  
                                </div>
                                <div class="form-row">
                                  <div class="col-md-12 mb-3">
                                    <label style="margin-top: 8px; font-weight: bold;">Quick Schedule</label> 
                                  </div>
                                  <div class="col-md-12 mb-3">
                                    <button id="startup" class="col-md-1 mb-2 mr-2 btn btn-primary">Startup</button>
                                    <button id="hourly" class="col-md-1 mb-2 mr-2 btn btn-primary">Hourly</button>
                                    <button id="daily" class="col-md-1 mb-2 mr-2 btn btn-primary">Daily</button>
                                    <button id="weekly" class="col-md-1 mb-2 mr-2 btn btn-primary">Weekly</button>
                                    <button id="monthly" class="col-md-1 mb-2 mr-2 btn btn-primary">Monthly</button>
                                    <button id="yearly" class="col-md-1 mb-2 mr-2 btn btn-primary">Yearly</button>
                                  </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-2 mb-3">
                                        <label for="minute">Minute</label>
                                        <input type="number" id="minute" class="form-control" placeholder="*" min="0" max="59" required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label for="hour">Hour</label>
                                        <input type="number" id="hour" class="form-control" placeholder="*" min="0" max="23" required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label for="day">Day</label>
                                        <input type="number" id="day" class="form-control" placeholder="*" min="1" max="31" required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label for="month">Month</label>
                                        <input type="number" id="month" class="form-control" placeholder="*" min="1" max="12" required>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label for="week">Week</label>
                                        <input type="number" id="week" class="form-control" placeholder="*" min="0" max="6" required>
                                    </div>  
                                    <div class="col-md-1 mb-3">
                                        <button class="mb-2 mr-2 btn btn-primary" style="margin-top: 33px; margin-left: 20px">Set</button> 
                                    </div> 
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label>Job</label>
                                        <input id="cronjobDemo" type="text" class="form-control" readonly placeholder="">
                                    </div> 
                                </div>
                                
                            </div>

                            
                        </form>
                        <br>        
                    </div>
                </div> 
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div id="timestamp"></div> 
                <div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="createScanTask" class="btn btn-primary">Run Scan</button>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}
